body {
  margin: 0;
  background-color: #040605;
}
#canvas {
  margin: 0;
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.flex-container {
  background-color: #040605;
  color: white;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.flex-container h2,
span {
  font-size: 45px;
  font-size: 45px;
  color: white;
  margin: 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

button {
  font-size: 24px;
  margin: 15px;
  padding: 25px 100px;
  border: 0;
  border-radius: 5px;
}

.start-game {
  background-color: #01c7fe;
  color: white;
  font-weight: bold;
}

.start-game:hover {
  background-color: #e02401;
}

.reed-instructions {
  background-color: rgba(150, 150, 150, 0);
  border: 1px solid #01c7fe;
  color: #01c7fe;
  font-weight: bold;
}

.reed-instructions a {
  color: #01c7fe;
  text-decoration: none;
}

.reed-instructions:hover {
  background-color: WHITE;
}

.reset-game {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  align-items: center;
  background-color: white;
  width: 50%;
  padding: 25px 30px;
  display: flex;
  flex-flow: column;
}

.bg h1 {
  color: red;
  font-size: 40px;
}

.bg h2 {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}

.bg p {
  color: gray;
}
