body {
  margin: 0;
  background-color: #0c0c0c;
}
#canvas {
  margin: 0;
}

.flex-container {
  background-color: #0c0c0c;
  color: white;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.flex-container h2,
span {
  font-size: 45px;
  font-size: 45px;
  color: white;
}
